.page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 10px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-button {
  color: #383838;
}

.color-picker-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-picker {
  cursor: pointer;
}

.colorize-button,
.back-button {
  padding: 8px 15px;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.grid-wrapper {
  width: 352px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: center;
}

.grid-header {
  display: flex;
}

.grid-row {
  display: flex;
}

.grid-cell,
.header-cell {
  width: 27px;
  height: 27px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #383838;
  font-weight: bold;
  cursor: default;
}

.grid-cell {
  background-color: #fff;
}

.grid-cell:hover {
  background-color: rgba(0, 0, 0, 0.1);
}